@namespace RuilwinkelVerhuur.Models.Classes
@{
    var data = ViewBag.category;
    List<Product> productList = ProductComm.retrieveWithCategory(data);
}


<head>
    <!-- for styling -->
    <style>
        .title {
            margin-bottom: 10px;
            text-align: center;
            width: 210px;
            color: green;
            border: solid black 2px;
        }

        input[type="submit"] {
            border-radius: 18px;
            background-color: #3A1D49;
            color: white
        }

        input[type="text"] {
            background-color: white;
            border: solid black 2px;
            width: 100%
        }
    </style>
</head>


<label>
    @data
</label>

@if (productList.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Naam
                </th>
                <th>
                    Afbeelding
                </th>
                <th>
                    Categorie
                </th>
                <th>
                    Prijs
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in productList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => product.Name)
                    </td>
                    <td>
                        <img src="@product.Picture" height="150" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Cost)
                    </td>
                    @if (product.Availability == true)
                    {
                        <td>Beschikbaar</td>
                    }
                    @if (product.Availability == false)
                    {
                        <td>Niet Beschikbaar</td>
                    }
                    <td>
                        <form action="@Url.Action("Index", "Detail", new { id = product.ID })">
                            <input type="submit" value="Details" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else 
{
    <br />
<label>
    Er zijn op het moment geen producten van deze categorie beschikbaar.
</label>
}

