
@namespace RuilwinkelVerhuur.Models.Classes
@model Datepicker

@{
    var data = ViewBag.Message;
    Product selectedproduct = ProductComm.retrieveProduct(data);    
}


<head>
    <!-- for styling -->
    <style>
        .title {
            margin-bottom: 10px;
            text-align: center;
            width: 210px;
            color: green;
            border: solid black 2px;
        }

        input[type="submit"] {
            border-radius: 18px;
            background-color: #3A1D49;
            border: solid black 2px;
            width: 250px;
            height: 50px;
            margin: 20px;
            color: white
        }

        input[type="text"] {
            background-color: white;
            border: solid black 2px;
            width: 100%
        }
    </style>
</head>




@using (Html.BeginForm())
{
<div class="form-horizontal col-md-6">
    <div class="form-group">
        <h3>@selectedproduct.Name</h3>
        <h5>Prijs:</h5>
        <h5 style="color:cornflowerblue">@selectedproduct.Cost Punten</h5>

        <p> <img src="@selectedproduct.Picture" height="150" /> </p>
        <h5>Beschrijving:</h5>
        <h5 style="color:cornflowerblue">@selectedproduct.Description</h5>
        <p>
            <h5>Selecteer de huurlengte in dagen:</h5>
            @Html.DropDownListFor(model => model.LoanLength, new SelectList(ViewBag.DropDown), "Selecteer de huurlengte in dagen")          
            
        </p>
                
        <h5>Selecteer wanneer U het artikel wilt ophalen.</h5>
        @Html.TextBoxFor(model => model.Date, new { @class = "from-control mydatepicker", @placeholder = "dd.mm.jjjj" })

        
    </div>

    <div class="from-group">
        <input type ="submit" value="Toevoegen aan winkelmandje" class="btn btn-primary" />
    </div>
</div>
       
}

<link href="~/lib/jqueryui/themes/blitzer/jquery-ui.min.css" rel="stylesheet" />
@section Scripts
{


    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            //Initialise all datepickers whose class name are mydatepicker
            // Display them with a button which containes a small calendar icon.
            $(".mydatepicker")
                .wrap('<div class="input-group">')
                .datepicker({
                    dateFormat: "dd.mm.yy",
                    changeYear: true,
                    yearRange: "-0:+1",//year selection is possible from starting 0 years before now
                    showOn: "both"
                })
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Selecteer een datum",
                    text: false
                })
                .addClass("btn btn-default")
                .wrap('<span class="input-group-btn">')
                .find('.ui-button-text')
                .css({
                    'visibility': 'hidden',
                    'display': 'inline'
                });
        });
    </script>
}



