
@namespace RuilwinkelVerhuur.Models.Classes
@model RuilwinkelVerhuur.Models.Classes.Datepicker

@{
    var data = ViewBag.Message;
    Product selectedproduct = ProductComm.retrieveProduct(data);
    List<SelectListItem> l1 = new List<SelectListItem>();
    l1.Add(new SelectListItem() { Text = "1", Value = "1" });
    l1.Add(new SelectListItem() { Text = "2", Value = "2" });
    List<int> l2 = ViewBag.Dropdown;
}


<head>
    <!-- for styling -->
    <style>
        .title {
            margin-bottom: 10px;
            text-align: center;
            width: 210px;
            color: green;
            border: solid black 2px;
        }

        input[type="submit"] {
            border-radius: 18px;
            background-color: #3A1D49;
            border: solid black 2px;
            width: 150px;
            height: 50px;
            margin: 20px;
            color: white
        }

        input[type="text"] {
            background-color: white;
            border: solid black 2px;
            width: 100%
        }
    </style>
</head>


<h3>@selectedproduct.Name</h3>
<h5 style="color:cornflowerblue">@selectedproduct.Cost Punten</h5>

@if (selectedproduct.Availability == true)
{
    <h5 style="color:green">Beschikbaar</h5>
}
else
{
    <h5 style="color:red">Niet Beschikbaar</h5>
}

<p> <img src="@selectedproduct.Picture" height="150" /> </p>
<h5>Beschrijving:</h5>
<p>
    <h5>Selecteer de huurlengte in dagen:</h5>
    @Html.DropDownList("LoanLength", l1, "Selecteer de huurlengte in dagen");
    @*<select asp-items="@(new SelectList(ViewBag.Dropdown))"></select>*@
</p>

@using (Html.BeginForm())
{
<div class="form-horizontal col-md-6">
    <div class="form-group">
        @Html.LabelFor(model => model.Date, new { htmlAttributes = new { @class = "control-label" } })
        @Html.TextBoxFor(model => model.Date, new { @class = "from-control mydatepicker", @placeholder = "dd.mm.yy" })
    </div>
</div>
       
}

<link href="~/lib/jqueryui/themes/blitzer/jquery-ui.min.css" rel="stylesheet" />
@section Scripts
{


    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            //Initialise all datepickers whose class name are mydatepicker
            // Display them with a button which containes a small calendar icon.
            $(".mydatepicker")
                .wrap('<div class="input-group">')
                .datepicker({
                    dateFormat: "dd.mm.yy",
                    changeYear: true,
                    yearRange: "-0:+1",//year selection is possible from starting 0 years before now
                    showOn: "both"
                })
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Select Date",
                    text: false
                })
                .addClass("btn btn-default")
                .wrap('<span class="input-group-btn">')
                .find('.ui-button-text')
                .css({
                    'visibility': 'hidden',
                    'display': 'inline'
                });
        });
    </script>
}

<form action="@Url.Action("AddToCart", "Detail", new { id = selectedproduct.ID })">
    <input type="submit" value="Toevoegen aan winkelmandje" />
</form>

